<%- include('./partials/_head_partial.ejs') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Secret diary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-success text-success" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main class="container mt-4">
    <% if(message) {%>
    <div class="alert alert-danger my-3" role="alert">
        <p class="text-center"><%= message.intro %> </p>
    </div>
    
    <% } %>
    <div class="form-gorup">
        <form action="/secret" method="POST" >
            <textarea name="secret" class="form-control" id="" cols="30" rows="20"></textarea>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3 w-25">Save</button>
            </div>
        </form>
        
        
    </div>
</main>
 


<%- include('./partials/_footer_partial.ejs') %>